@font-face {
    font-family: "zai";
    src: url(./fonts/zai_PencilTypewriter.ttf);
}

@font-face {
    font-family: "vogue";
    src: url(./fonts/Vogue.ttf);
}

html {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #242424;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.header {
    background-color: #242424;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    color: #fff;
    border-bottom: 10px solid #474747;
    z-index: 5;
}

.logo {
    float: right;
    padding: 0px 0;
    margin-left: 30px;
    height: 40px;
}


/* #region hamburger menu */

.header .menu {
    background-color: #474747;
    width: 150px;
    clear: both;
    height: 0;
    transition: height 0.2s ease-out;
    z-index: 0;
}

.header ul {
    margin-top: 80px;
    padding: 0;
    list-style: none;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: auto;
    cursor: pointer;
}

.header ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: aqua;
    font-weight: 400;
}

.header .menu-icon {
    padding: 20px 30px;
    position: relative;
    float: left;
    cursor: pointer;
    z-index: 5;
}

.header .menu-icon .nav-icon {
    background: #875fa4;
    display: block;
    height: 3px;
    width: 20px;
    position: relative;
    transition: background 0.2s ease-out;
}

.header .menu-icon .nav-icon:before {
    background: #875fa4;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    transition: all 0.2s ease-out;
    top: 7px;
}

.header .menu-icon .nav-icon:after {
    background: #875fa4;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    top: -7px;
    transition: all 0.2s ease-out;
}


/* menu-btn ads the animation of the icon when clicked */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    height: 100px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
}


/* #endregion */

#timelapse {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

#still {
    padding: 40px;
    width: 100%;
    margin-top: -250px;
    height: 700px;
    position: fixed;
    background-color: transparent;
    background-image: url(img/teelight2.png), url(img/teedark2.png);
    background-position: left top, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 700px 500px, 670px 550px;
    z-index: 2;
}

.scrolls {
    z-index: 3;
    position: relative;
    margin-bottom: 190px;
}

.tee {
    margin-top: -220px;
    margin-left: 170px;
    float: left;
    position: relative;
}

h2 {
    position: relative;
    font-size: 80px;
    font-family: Georgia, serif, sans-serif;
    margin-top: 380px;
    font-weight: 4000;
    margin-bottom: 0px;
    margin-left: 200px;
}

.buy {
    font-family: "zai", Georgia, serif, sans-serif;
    font-size: 35px;
    background-color: #c997ceed;
    color: black;
    z-index: 3;
    margin-top: 0;
    padding: 3px;
}

p {
    font-size: 30px;
    background-color: aqua;
    font-family: "vogue", Georgia, 'Times New Roman', Times, serif;
}

h3 a:hover {
    background-color: rgba(0, 255, 255, 0.65);
    cursor: pointer;
    color: #000;
}

input[type=submit] {
    color: black;
    box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, .4), inset 0 0 3px 0 rgba(0, 0, 0, .4), inset 0 0 3px 5px rgba(0, 0, 0, .05), 2px 2px 4px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
    height: 58px;
    margin: 4px 2px;
    border: none;
    width: 190px;
    font-family: "vogue", Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(0, 255, 255, 0.85);
    background-image: url(https://www.paypalobjects.com/webstatic/en_US/i/buttons/PP_logo_h_150x38.png);
    background-position: 20px 10px;
    background-repeat: no-repeat;
    background-size: 150px 38px;
}

input[type=submit]:before,
input[type=submit]:after {
    content: '';
    display: block;
    position: absolute;
    left: 2px;
    right: 2px;
    height: 3px;
}

input[type=submit]:before {
    top: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background: rgba(255, 255, 255, .6);
    box-shadow: 0 1px 2px 0 rgba(255, 255, 255, .6);
}

input[type=submit]:after {
    bottom: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(0, 0, 0, .15);
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, .15);
}

#paymentOptions {
    margin: 0;
    display: block;
}

#buyBtn {
    float: left;
}

#sizes {
    float: left;
}

table {
    float: left;
}