html {
    margin: 0;
    padding: 0;
}

body {
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: #242424;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.header {
    background-color: #242424;
    margin: 0;
    position: fixed;
    width: 100%;
    height: 70px;
    color: #fff;
    border-bottom: 10px solid #474747;
    z-index: 5;
}

.logo {
    float: right;
    padding: 0px 0;
    margin-left: 30px;
    height: 40px;
}

#timelapse {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1;
}

#still {
    padding: 40px;
    width: 100%;
    margin-top: -250px;
    height: 700px;
    position: fixed;
    background-color: transparent;
    font-family: "Inter", sans-serif;
    background-image: url(img/teelight2.png), url(img/teedark2.png);
    background-position: left top, left top;
    background-repeat: no-repeat, no-repeat;
    background-size: 700px 500px, 670px 550px;
    z-index: 2;
}

.scrolls {
    z-index: 3;
    position: relative;
    margin-bottom: 190px;
}

.scrolls img {
    margin-top: -220px;
    margin-left: 170px;
    float: left;
    position: relative;
}

h2 {
    position: relative;
    font-size: 60px;
    font-family: Georgia, serif, sans-serif;
    margin-top: 420px;
    font-weight: 4000;
}

h3 {
    position: relative;
    font-family: "Cochin", Georgia, serif, sans-serif;
    font-size: 30px;
    background-color: #c997ceed;
    /* margin-right: 800px;
    margin-left: 500px; */
    height: 50px;
    width: 100px;
    left: 500px;
    bottom: 40px;
    color: "black";
    text-align: center;
    z-index: 3;
}

h3:hover {
    background-color: rgba(0, 255, 255, 0.65);
    cursor: pointer;
    color: #000;
}

a:link a:visited a:hover a:active {
    color: "black";
}

.text {
    margin-left: -70;
}